[submodule "lilith-mod-pack"]
	path = lilith-mod-pack
	url = https://github.com/chinese-liliths-throne/lilith-mod-pack
[submodule "liliths-throne-chinese"]
	path = liliths-throne-chinese
	url = https://github.com/chinese-liliths-throne/liliths-throne-chinese
